/*------------------------------------*\
	Globel
\*------------------------------------*/
*{
	box-sizing: border-box;
	position: relative;
}
body {
	color: white;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Noto Sans TC', 'Roboto', sans-serif;
	
	overflow: hidden;
	height: 100vh;

	/* backgound color animation */
	/*background: url(../images/classy_fabric.png);*/
	/*background: linear-gradient(0deg,rgb(70, 48, 58),rgb(27, 27, 66));*/
	
	/*background: linear-gradient(245deg, #34282d, #1b1b42, #760000);
	background-size: 800% 800%;
	-webkit-animation: AnimationName 5s ease infinite;
	-moz-animation: AnimationName 5s ease infinite;
	animation: AnimationName 5s ease infinite;*/

	/*background-color: #8d1145;
	background-image: -webkit-linear-gradient(left, #8d1145 0%, #6c4981 21%, #4e719b 40%, #3b88a6 54%, #26587b 75%, #182552 100%);
	background-image: -o-linear-gradient(left, #8d1145 0%, #6c4981 21%, #4e719b 40%, #3b88a6 54%, #26587b 75%, #182552 100%);
	background-image: linear-gradient(to right, #8d1145 0%, #6c4981 21%, #4e719b 40%, #3b88a6 54%, #26587b 75%, #182552 100%);*/

	/*background-color: #21D4FD;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);*/
	
	background-color: #01024e;
	background-image: linear-gradient(225deg, #8b4367 0%, #543864 50%, #01024e 100%);
}	
@-webkit-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
/* List style */
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}


/*------------------------------------*\
    Layout
\*------------------------------------*/
.wrapper{
	/*border: 1px solid green;*/
}
.wrapper .section {
	position: absolute;
}
.container--center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}
.section{
	width: 1500px;
	height: 900px;
	transform: translate(-50%,-50%);
}
.section-1{
	top: 0;
	left: 0;
	transform: translate(-50%,calc(-50% - 30px));
}
.section-2{
	top: 900px;
	left: 80px; 
}
.section-3{
	top: 1400px;
	left: 600px; 
}
.section-4{
	top: 1300px;
	left: 2000px; 
}
.section-5{
	top: 1400px;
	left: 3000px; 
}
.section-6{
	top: 2200px;
	left: 2900px; 
}
.section-7{
	top: 2700px;
	left: 2300px; 
}
.section-8{
	top: 2900px;
	left: 1000px; 
}
.section-9{
	top: 3600px;
	left: 326px; 
}
.section-10{
	top: 4300px;
	left: 126px; 
}

/*------------------------------------*\
    Component
\*------------------------------------*/

/* bg mask */
.mask{
	position: absolute;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;

	/*background-color: #000;*/
	background: radial-gradient(closest-corner at 60% 50%,rgba(0,0,0,0),rgba(0,0,0,0.3) 50%,rgba(0,0,0,0.8));
}

/* particle background */
#particle-target{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
}
.heart_core,.heart_core_small{
	position: absolute;
	width: 100px;
	height: 100px;
	background: radial-gradient(rgba(255,255,255,0.8),rgba(255, 100, 100, 0.8));	
	border-radius: 50%;
	box-shadow: 
		0 0 100px rgba(255,255,255,0.8),
		0 0 500px rgba(255,255,255,0.8);
	animation: 1.2s coreFlicker infinite;

	left: 80%;
	top: 80%;
	transform: translate(-50%,-50%);
	transition: all 0.3s;
}
.heart_core_small{
	width: 32px;
	height: 32px;
	left: 50%;
	top: 50%;
	opacity: 0;
}
.heart_core.hide{
	width: 0px;
	height: 0px;
	opacity: 0;
}
.heart_core_small.show{
	opacity: 1;
}
@keyframes coreFlicker{
	0%{transform: translate(-50%,-50%) scale(1);}
	20%{transform: translate(-50%,-50%) scale(1.2);}
	40%{transform: translate(-50%,-50%) scale(0.8);}
	100%{transform: translate(-50%,-50%) scale(1);}
}

/* canvas path */
.sp-canvas {
	display: none;
}

/* parallax test */
.scene{
	border: 1px solid #fff;
	width: 600px;
	height: 600px;
}
.scene img{
	display: block;
	width: 100%;
}

/* rellax test */
.rellax-layer{
	/*position: absolute;*/
	width: 800px;
	height: 800px;
	border: 1px solid red;
}
.rellax{
	background: #eed;
	display: block;
	width: 100px;
	height: 100px;
	position: absolute;
	transition: left,top 10s cubic-bezier(0,1,.5,1);
}
.rellax-1{
	top: 0;
	left: 0;
}
.rellax-2{
	top: 500px;
	left: 800px;	
}
.rellax-3{
	bottom: 0;
	right: 0;
}

/* settings */
.settings {
	position: fixed;
	right: 0;
	top: 0;
	padding: 10px 20px;
	border: 1px solid #fff;

	display: none;
}
.settings a {
	border: none;
}

/* navbar */
.navbar{
	position: fixed;
	z-index: 99999;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	/*background-color: rgba(10,18,57,.95);*/
	background-color: rgba(0,0,0,.8);

	display: flex;
	align-items: center;
	justify-content: center;
}
.nav{
	height: 100%;
	display: flex;
}
.nav li{
}
.nav li a{
	display: block;
	padding: 10px 24px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 400;
	border: none;
	text-align: center;
	transition: all 0.25s;
	color: #888;
	text-decoration: none;
}
.nav li a:hover, .nav li a.active{
	background: rgba(0,0,0, 0.8);
}
.nav li a:after{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0px;
	background-color: #ff6464;
	transition: all 0.25s;
}
.nav li a:hover:after, .nav li a.active:after{
	height: 4px;
}



.highlight {
	animation: highlight 0.2s alternate 6 ;
}
@keyframes highlight {
	to {
		background: lightblue;
	}
}

/* intro-card */
.intro-card{
	border: 1px solid transparent;
	transform-style: preserve-3d;
 	transform: perspective(1000px);
}
.intro-card:after{ 
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 130%;
	height: 140%;
}
.intro-card_bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.intro-card_bg > div{
	position: absolute;
	top: 50%;
	left: 50%;
}
.intro-card_bg .bottom{
	width: 80%;
	height: 80%;
	opacity: 0.2;
	transform: translate(-50%,-50%) translateZ(-100px);
	background: repeating-linear-gradient(
		-45deg,
		transparent,
		transparent 5px,
		#ccc 2px,
		#ccc 7px
	)
}
.intro-card_bg .frame{
	border: 1px solid #ff6464;
	width: 101%;
	height: 101%;
	transform: translate(-50%,-50%) translateZ(-50px);
}
.intro-card_bg .icon{
	background-color: #ff6464;
	width: 36px;
	height: 36px;
	top: 0;
	left: 30px;
	transform: translate(0,-50%) translateZ(50px);
}
.intro-card_bg .corner{
	width: 101%;
	height: 101%;
	transform: translate(-50%,-50%) translateZ(100px);
}
.intro-card_bg .corner span{
	position: absolute;
	width: 24px;
	height: 24px;
}
.intro-card_bg .corner span:nth-child(1){
	top: 0;
	left: 0;
	border-top: 2px solid rgba(255,255,255,0.7);
	border-left: 2px solid rgba(255,255,255,0.7);
}
.intro-card_bg .corner span:nth-child(2){
	top: 0;
	right: 0;	
	border-top: 2px solid rgba(255,255,255,0.7);
	border-right: 2px solid rgba(255,255,255,0.7);
}
.intro-card_bg .corner span:nth-child(3){
	bottom: 0;
	right: 0;	
	border-bottom: 2px solid rgba(255,255,255,0.7);
	border-right: 2px solid rgba(255,255,255,0.7);
}
.intro-card_bg .corner span:nth-child(4){
	bottom: 0;
	left: 0;	
	border-bottom: 2px solid rgba(255,255,255,0.7);
	border-left: 2px solid rgba(255,255,255,0.7);
}
.intro-card_main{
	padding: 22px 30px;
	border: 1px solid transparent;
}
.intro-card_main .title{
	font-size: 28px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    color: #ff6464;
}
.intro-card_main .para{
	font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(255,255,255,0.7);
}



/*------------------------------------*\
    Section details
\*------------------------------------*/

.container--virtical{
	display: flex;
	align-items: center;
	vertical-align: middle;
}

/* Common */
.section{
	/*border: 1px solid #fff;*/
}
.section .intro-card{
	position: absolute;
	width: 100%;
	width: 360px;
}

/* section 1 intorduction */
.section-1 .project-title{
	font-family: 'Roboto', sans-serif;
	/*text-align: center;*/
	font-size: 72px;
	font-weight: 700;
	text-shadow: 8px 8px rgba(0,0,0,0.4);
	color: #fff;
	line-height: 1.2;
	padding-bottom: 32px;
	margin-bottom: 48px;
}
.section-1 .project-title:after{
	content: '';
	position: absolute;
	width: 160px;
	height: 8px;
	background-color: #ff6464;
	left: 0;
	bottom: 0;
}
.section-1 .project-subtitle{
	font-size: 24px;
	font-weight: 400;
	/*text-align: center;*/
	margin-top: 0;
	margin-bottom: 48px;
}
.section-1 .project-fellow{
	font-size: 24px;
	font-weight: 400;
}
.section-1 .project-fellow li:nth-child(1){
	margin-bottom: 16px;
}
.section-1 .heart{
	position: absolute;
	width: 500px;
	right: 100px;
	top: 50%;
	transform: translate(0%,-50%);
	pointer-events: none;
}

/* section 2 why measurement */
.section-2 .intro-card{
	top: 45%;
	left: 0;
}

/* section 3 why measurement */
.section-3 .intro-card{
	top: 55%;
	left: 20%;
}

/* section 4 why measurement */
.section-4 .intro-card{
	top: 18%;
	left: 13%;
}

/* section 5 how to get information */
.section-5 .intro-card{
	top: 10%;
	left: 60%;
}

/* section 6 atrial fabrillation */
.section-6 .intro-card{
	top: 10%;
	left: 10%;
}

/* section 7 dataset */
.section-7 .intro-card{
	top: 50%;
	left: 70%;
}

/* section 8 dataset */
.section-8 .intro-card{
	top: 15%;
	left: 10%;
}

/* section 9 dataset */
.section-9 .intro-card{
	top: 30%;
	left: 70%;
}

/* section 10 dataset */
.section-10 .intro-card{
	top: 40%;
	left: 10%;
}